/* Navbar CSS */

/* #navbar_supported_content { 
  font-family: cursive;
  font-weight: bolder; 
  color: black;
  font-size: medium;
  font-weight: bolder;
  background-image: url(/static/images/dropdown_sky.png);
  background-repeat: no-repeat;
  background-size: cover;
} */

.navbar {
  background-image: url(/static/images/navbar.jpeg);
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  /* color: rgb(50, 81, 50) */
  font-family:  'Arvo', serif;
  font-weight: bold;
  font-size: 18pt;
  margin-bottom: 25px;
}

.navbar_link{
  margin: 0 20px;
}

button {
  border-radius: 5px;
}

/* Homepage CSS */

#homepage_body {
  background-color: black;
}

#home_img{
  width: 50%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.flash-msg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:  'Arvo', serif;
  color: maroon; 
  font-size: 12pt;
  top: 2%;
}

#login_title, #login_title_1 {
  font-family:  'Arvo', serif;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
  z-index: 100;
  border-radius: 50px ;
}

#login_title_1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
}

.title-container{
  display: flex;
  justify-content: center;
}

.title-container-2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 94vh;
}

.modal-content{
  background-color: white;
  border: none;
  color: black;
  font-family:  'Arvo', serif;
}

.inner-modal-btn, .inner-modal-btn-2 {
  margin-left: 15px;
}


#homepage_button, #close_button {
  background-color: black;
  border: none;
  color: white;
  font-family:  'Arvo', serif;
}

.modal-btn{
  margin: 10px 20px;
  top: 2%;
}

video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Community page CSS */
#community_body {
  background-color: #f5f6f8;
}

#radio_container {
  color: black;
}

#display_entry_text, #link_to_author_user_page {
  white-space: pre-line; 
  text-align: left;
  padding-left: 50px; 
  padding-right: 50px;
}

/* text CSS */

.centered {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1, h2, p, #entry {
  color: black;
  font-weight: bolder;
  font-family:  'Arvo', serif;
  text-align: center;
}

textarea {
  margin-bottom: 25px;
  background-color: white;
  padding-left: 50px; 
  padding-right: 50px;
}

form, h3, #journal_entry {
  color: black;
  font-weight: bolder;
  font-family:  'Arvo', serif;
  border-color: solid,  black;
}
  
#scroll_journal_entry {
  display: inline-block;
  justify-content: right;
  color: darkgreen;
  padding: 10px;
  font: 28px aerial;
  width: 800px;
  height: 400px;
  overflow-y: scroll;
}


/* My Journal CSS*/

#my_journal_body, #entry{
  background-color:#f5f6f8;
}

#source_button {
  background-color: #f5f6f8;
  border: none;
  font-weight: bold;
  color: darkgreen;
  font-family:  'Arvo', serif;
}

.save_entry, #entry_visibility {
  background-color: white;
  border: solid 1px maroon;
  font-size: 12pt;
  font-weight: bold;
  color: maroon;
  font-family:  'Arvo', serif;
}

#bonus_text_button {
    background-color: #f5f6f8;
    font-weight: bold;
    border: none;
    color:maroon;
    font-size: 20pt;
    font-family:  'Arvo', serif;
}

#additional_info {
  white-space: pre-line; 
  text-align: center;
  padding-left: 75px; 
  padding-right: 75px;
}

#user-entry-btn {
  background-color: white;
  border: solid 1px darkgreen;
  font-weight: bold;
  color: darkgreen;
  font-family:  'Arvo', serif;
  margin-bottom: 10px;
  margin-left: 45px;
}

/* shared-user page CSS */

#shared_user_body {
  background-color: #f5f6f8;
}

#follow_button, #follow, #unfollow {
  border: none;
  background-color: #f5f6f8;
  width:25px;
  height:25px; 
}

/* user-page CSS */

#user_page_body {
  background-color: #f5f6f8;
}

/* collasible button CSS */
.empty-entry {
  border-left: solid 10px rgb(139, 186, 139);
  background-color: white; 
  color: black;
  border-top: solid 1px lightgrey;
  border-right: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
  border-collapse: separate;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
  font-family:  'Arvo', serif;
}

.complete-entry {
    
  background-color: white;
  border-left: solid 10px rgb(25, 71, 25);
  border-top: solid 1px lightgrey;
  border-right: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
  border-collapse: separate;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
  font-family:  'Arvo', serif;
}
  
.content {
  padding: 0 18px;
  display: none;
  overflow: scroll;
  background-color: #f5f6f8;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: lighter;
}

/* misc img CSS */

#icon_calendar {
  width: 70px;
  height: 70px;
  justify-content: center;
}

icon {
  width: 70px;
  height: 80px;;
} 

