/* html {
    background-color: black;
} */

/* Navbar CSS */

/* #navbar_supported_content { 
  font-family: cursive;
  font-weight: bolder; 
  color: black;
  font-size: medium;
  font-weight: bolder;
  background-image: url(/static/images/dropdown_sky.png);
  background-repeat: no-repeat;
  background-size: cover;
} */

.navbar {
  background-image: url(/static/images/sky.png);
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: marker felt, fantasy;
  font-weight: bold;
  font-size: 20pt;
  margin-bottom: 25px;
}
#home_button_bar {
  background-color: black;
}
  /* img CSS */

#icon_calendar {
  width: 70px;
  height: 70px;
  justify-content: center;
}

icon {
  width: 70px;
  height: 80px;;
} 

#home_img{
  width: 50%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

/* #mountain {
    height: 400px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    box-shadow: 10px 10px 10px 15px navy;
   } */

/* text CSS */

.centered {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#entry {
  background-color: #FFF5EE;
}
.flash-msg {
  position: absolute;
  top: 5%;
  font-size: 15pt;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fredericka the Great', cursive;
  color: #FFF5EE;
}

h1, h2, p, #entry {
  color: black;
  font-weight: bolder;
  font-family: marker felt, fantasy;
  text-align: center;
}

textarea {
  margin-bottom: 25px;
  background-color: white;
}

#login_title, #login_title_1 {
font-family: 'Fredericka the Great', cursive;
color: #FFF5EE;
}

form, h3, #journal_entry {
  color: black;
  font-weight: bolder;
  font-family: marker felt, fantasy;
  border-color: solid,  black;
}
  
#scroll_journal_entry {
  display: inline-block;
  justify-content: right;
  color: maroon;
  padding: 10px;
  font: 28px aerial;
  width: 800px;
  height: 400px;
  overflow-y: scroll;

}

#display_entry_text, #link_to_author_user_page {
  white-space: pre-line; 
  text-align: left;
  padding-left: 15px; 
}

#entry_visibility {
  background-color: #FFF5EE;
  border: solid 4px maroon;
  font-weight: bold;
  color: black;
  font-family: marker felt, fantasy;
  margin-bottom: 30px;
}

/* button CSS */

#source_button{
  background-color: #FFF5EE;
  border: none;
  font-weight: bold;
  color: maroon;
  font-family: marker felt, fantasy;
}

.modal-content{
  background-color: white;
  border: none;
  color: black;
  font-family: marker felt, fantasy;
}
#homepage_button, #close_button {
  background-color: black;
  border: none;
  color: white;
  font-family: marker felt, fantasy;
}
#bonus_text_button {
    background-color: #FFF5EE;
    border: none;
    font-weight: bold;
    color: maroon;
    font-size: 20pt;
    font-family: marker felt, fantasy;
}

button {
  background-color: #FFF5EE;
  border: none;
  font-weight: bold;
  color: maroon;
  font-family: marker felt, fantasy;
}


/* collasible button CSS */
.collapsible {
    background-color: black;
    color: #FFF5EE;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: scroll;
    background-color: #FFF5EE;
  }
