<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{%block title%}52 Weeks Journal{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/static/images/journal_icon.png">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- Your custom styles -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
       
    </head>

{% block body %}
    <body>
{% endblock %}
        <nav class="navbar sticky-top">
            <div class="container" style="display: flex; justify-content: flex-end;">
                <div style="display: flex; justify-content: flex-end;">
                    {% block nav %}
                    <div class="navbar_link">  
                        <a class="nav-link active" aria-current="page" href="/entry"><span><img src="/static/images/pen.png" alt="pen img" width=40px height=40px></span>My Entries</a>
                    </div>
                    <div class="navbar_link">  
                        <a class="nav-link active" aria-current="page" href="/my-journal"><span><img src="/static/images/read.png" alt="book img" width=40px height=40px></span>Journal</a> 
                    </div>
                    <div class="navbar_link">  
                        <a class="nav-link active" aria-current="page" href="/community"><span><img src="/static/images/community.png" alt="pen img" width=40px height=40px></span>Community</a>
                    </div>
                    <div class="navbar_link">  
                        <a class="nav-link active" aria-current="page"  href="/logout">Logout</a>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </nav>
        
        {% block content %}
    
        {% endblock %}
    </body>
    <footer>
        {% block footer %}
            <p>Current day: {{session['date']}}</p>
            <p>Active since {{user.sign_up}}</p>
        {% endblock %}
    </footer>
</html>