{% extends 'base.html' %}

{% block title %} Journal Community {% endblock %}

{% block body %}
    <body id="community_body">
{% endblock %}

{% block nav %}
    <div class="col-4">  
        <a class="nav-link active" aria-current="page" href="/entry"><span><img src="/static/images/pen.png" alt="pen img" width=40px height=40px>My Entries</span></a>
    </div>
    <div class="col-3">  
        <a class="nav-link active" aria-current="page" href="/my-journal"><span><img src="/static/images/read.png" alt="book img" width=40px height=40px>Journal</span></a> 
    </div>
    <div class="col-4">  
        <a class="nav-link active" aria-current="page" href="/community"><span style="color: maroon"><img src="/static/images/community.png" alt="pen img" width=40px height=40px>Community</span></a>
    </div>
    <div class="col-1 text-right">  
        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
    </div>
{% endblock %}

{% block content %}   
<div class="fluid-container">
<div class="row" id="radio-container">
    <div class="col-3 offset-2">
        <p> Community View:</p>
    </div>
    <div class="col-2">
        <input type="radio" name="community-view" value="everyone" id="community-everyone" checked>
        <label for="community-everyone">Everyone</label>
    </div>
    <div class="col-3">
        <input type="radio" name="community-view" value="connections" id="community-connections">
        <label for="community-connections">Connections Only</label>
    </div>
</div>
</div>

<div class="row">
    <div id="shared-entries" class="col"></div>


<script src='/static/js/community.js'></script>
{% endblock %}


{% block footer %}

{% endblock %}