{% extends 'base.html' %}

{% block title %} Journal Community {% endblock %}

{% block content %}   

<h1> Journal Community</h1>

<div id="radio-container">
  
    <input type="radio" name="community-view" value="everyone" id="community-everyone">
    <label for="community-everyone">Everyone</label>
  
    <input type="radio" name="community-view" value="connections" id="community-connections">
    <label for="community-connections">Connections Only</label>

</div>

<div class="row">
    <div id="shared-entries" class="col"></div>


<script src='/static/js/community.js'></script>
{% endblock %}


{% block footer %}

{% endblock %}