{% extends 'base.html' %}

{% block title %} My Journal {% endblock %}

{% block content %}     
<h1><u>{{user.fname}}'s Journal</u></h1>

<h1>{{prompt.prompt}}</h1>

{% if prompt.bonus_text %}
    <button id="bonus_text_button" type="button">Additional Prompt info.</button>

    <p id="additional_info"></p>
{% endif %}

<form id = entry action="/entry" method="POST">

    {% if prompt.entries %}
        <label for="journal_entry"></label>
        <textarea  id="journal_entry" name="entry" rows="20" cols="100"> {{prompt.entries[0].user_entry}}</textarea><br>
        <input type="hidden" name="entry_id" value={{prompt.entries[0].id}}>
    {% else %}
        <label for="journal_entry"></label>
        <textarea  id="journal_entry" name="entry" rows="20" cols="100" ></textarea><br>
    {% endif %}

    <label for="entry_visibility">Entry Visibility</label>
  <select id= "entry_visibility" name="visibility">
      <option value="Private">Keep this entry private</option>
      <option value="Friends">Share this entry with friends</option>
      <option value="Public">Share this entry with everyone</option>
  </select>
 
  <button class="save_entry" id="entry_button" >Save</button>

</form>

<form id = logout action="/logout">
    
    <button type="submit">Log Out</button>
  
 <div class="col">
    <a href="/entry">My Entries</a> 
</div>
<div class="col">
    <a href="/shared-entries">My Journal Community</a> 
</div>

<script> 
    const targetBtn = document.querySelector("#bonus_text_button");
    targetBtn.addEventListener('click', (evt) => {
        document.querySelector('#additional_info').innerHTML = `{{prompt.bonus_text}}`;
        });
</script>

<script src='/static/js/button.js'></script>
{% endblock %}

{% block footer %}
<p>Current day: {{session['date']}}</p>
<p>Current week: {{session['week']}}</p>
<p>Active since {{user.sign_up}}</p>
{% endblock %}