{% extends 'base.html' %}

{% block title %} My Journal {% endblock %}

{% block content %}     
<h1><u>{{user.fname}}'s Journal</u></h1>

<h1>{{prompt.prompt}}</h1>
<form id = entry action="/entry" method="POST">
  
    <label for="journal_entry"></label>

    <textarea id="journal_entry" name="entry" rows="20" cols="100">

    </textarea><br>
    
    <label for="visibility">Entry Visibility</label>
  <select name="visibility" required>
      <option value="Private">Keep this entry private</option>
      <option value="Friends">Share this entry with friends</option>
      <option value="Public">Share this entry with everyone</option>
  </select>
    <button type="submit">Save</button>


</form>

<form id = logout action="/logout">
    
    <button type="submit">Log Out</button>
  
</form>
{% endblock %}

{% block footer %}
<p>Current day: {{session['date']}}</p>
<p>Current week: {{session['week']}}</p>
<p>Active since {{user.sign_up}}</p>
{% endblock %}