{% extends 'base.html' %}


{% block title %} {{user.fname}}'s Journal {% endblock %}

{% block content %}     

<h1>{{prompt.prompt}}</h1>

{% if prompt.bonus_text %}
    <button id="bonus_text_button" type="button">Final Thoughts</button>

    <p id="additional_info"></p>
{% endif %}

<form id = entry action="/entry" method="POST">

    {% if entry%}
        <label for="journal_entry"></label>
        <textarea class="entry" id="journal_entry" name="entry" rows="20" cols="100" style="border: none";> {{entry.user_entry}}</textarea><br>
        <input type="hidden" name="entry_id" value={{entry.id}}>
        
    {% else %}
        <label for="journal_entry"></label>
        <textarea  class="entry" id="journal_entry" name="entry" rows="20" cols="100" ></textarea><br>
        <input type="hidden" name="prompt_week" value={{prompt.week}}>
    {% endif %}

    <label for="entry_visibility">Entry Visibility</label>
  <select id= "entry_visibility" name="visibility">
      <option value="Private">Keep this entry private</option>
      <option value="Friends">Share this entry with friends</option>
      <option value="Public">Share this entry with everyone</option>
  </select>
 
  <button class="save_entry" id="entry_button" >Save</button>

</form>


{% if prompt.book %}
<!-- <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content={{prompt.book}}>Journal Prompt Source</button> -->
    <button id="source_button" type="button">Journal Prompt Source</button>

    <p id="source"></p>
{% endif %}

<!-- <form id = logout action="/logout">
    
    <button type="submit">Log Out</button> -->
  


<script> 
    const targetBtn = document.querySelector("#bonus_text_button");
    targetBtn.addEventListener('click', (evt) => {
        document.querySelector('#additional_info').innerHTML = `{{prompt.bonus_text}}`;
        });
</script>
<script> 
    const sourceBtn = document.querySelector("#source_button");
    sourceBtn.addEventListener('click', (evt) => {
        document.querySelector('#source').innerHTML = `{{prompt.book}}`;
        });
</script>


<script src='/static/js/button.js'></script>
{% endblock %}

{% block footer %}
<p>Current day: {{session['date']}}</p>
<p>Current week: {{session['week']}}</p>
<p>Active since {{user.sign_up}}</p>
{% endblock %}