{% extends 'base.html' %}

{% block title %} {{user.fname}}'s Journal Entries {% endblock %}

{% block body %}
    <body id="shared_user_body">
{% endblock %}


{% block nav %}
    <div class="col-4">  
        <a class="nav-link active" aria-current="page" href="/entry"><span><img src="/static/images/pen.png" alt="pen img" width=40px height=40px>My Entries</span></a>
    </div>
    <div class="col-3">  
        <a class="nav-link active" aria-current="page" href="/my-journal"><span><img src="/static/images/read.png" alt="book img" width=40px height=40px>Journal</span></a> 
    </div>
    <div class="col-4">  
        <a class="nav-link active" aria-current="page" href="/community"><span><img src="/static/images/community.png" alt="pen img" width=40px height=40px></span>Community</a>
    </div>
    <div class="col-1 text-right">  
        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
    </div>
{% endblock %}

{% block content %} 

<h1>{{user.fname}}'s Journal 
    <span>
        {% if user in current_user.following %}
            <button id="follow_button">
                <span><img src="/static/images/unfriend_icon.png" title="unfollow" alt="unfriend img" width=40px height=40px></span>
            </button>
        {% else %}
            <button id="follow_button">
                <span><img src="/static/images/friend_icon.png" title="follow" alt="friend img" width=40px height=40px></span>
         </button>
        {% endif %}
    </span>
</h1>


    {%for entry in entries %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <button id={{entry.week}} type="button" class="collapsible complete-entry"> Week {{entry.prompt.week}} : {{entry.prompt.prompt}} </button>
                <div id='entry_{{entry.week}}' class="content">
                    <p class="entry" id="display_entry_text"> {{entry.user_entry}}</p>
                </div>
            </div>
         </div>
    </div>
    {% endfor %}
    

<script src='/static/js/shared-user.js'></script> 
{% endblock %}

{% block footer %}
<p>Active since {{user.sign_up}}</p>
{% endblock %}


