{% extends 'base.html' %}

{% block title %} {{user.fname}} Journal Entries {% endblock %}

{% block content %} 
<div class="container"></div> 
<div class="row">
    <div class="col">   
    <h1><u>{{user.fname}}'s Journal Entries</u></h1>

{%for entry in entries %}
<h3>{{user.fname}} : Week {{entry.prompt.week}}</h3>
<p>{{entry.user_entry}}</p>

{% endfor %}

<form id="logout" action="/logout">
    <div class="row">
        <div class="col">
            <button type="submit">Log Out</button>
        </div>
    </div>
  
</form>

{% endblock %}

{% block footer %}
<p>Current day: {{session['date']}}</p>
<p>Current week: {{session['week']}}</p>
<p>Active since {{user.sign_up}}</p>
{% endblock %}