{% extends 'base.html' %}

{% block title %} My Journal Entries {% endblock %}

{% block content %} 
<div class="container"></div> 
<div class="row">
    <div class="col">   
    <h1><u>{{user.fname}}'s Journal Entries</u></h1>

<div class="row">
    <div id="user-prompts" class="col"></div>
    
<form id="logout" action="/logout">
    <div class="row">
        <div class="col">
            <button type="submit">Log Out</button>
        </div>
    </div>
  
</form>
<script type='module' src='/static/js/prompts.js'></script>
{% endblock %}

{% block footer %}
<p>Current day: {{session['date']}}</p>
<p>Current week: {{session['week']}}</p>
<p>Active since {{user.sign_up}}</p>
{% endblock %}