{% extends 'base.html' %}

{% block nav %}
    <div class="col-4">  
        <a class="nav-link active" aria-current="page" href="/entry"><span style="color: maroon"><img src="/static/images/pen.png" alt="pen img" width=40px height=40px>My Entries</span></a>
    </div>
    <div class="col-3">  
        <a class="nav-link active" aria-current="page" href="/my-journal"><span><img src="/static/images/read.png" alt="book img" width=40px height=40px>Journal</span></a> 
    </div>
    <div class="col-4">  
        <a class="nav-link active" aria-current="page" href="/community"><span><img src="/static/images/community.png" alt="pen img" width=40px height=40px></span>Community</a>
    </div>
    <div class="col-1">  
        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
    </div>
{% endblock %}

{% block title %} {{user.fname}}'s Entries {% endblock %}

{% block body %}
    <body id="user_page_body">
{% endblock %}

{% block content %} 

    <div class="container-fluid">
        <div class="row flex justify-content-center">
            <div id="user-prompts" class="col-11"></div>
        </div>
    </div>
        
    <script src='/static/js/user-page.js'></script>
{% endblock %}

{% block footer %}
<p>Active since {{user.sign_up}}</p>
{% endblock %}