{% extends 'base.html' %}

{% block navbar %}
    <span class="navbar-text">
        <h1><u>{{user.fname}}'s Entries</u></h1>
    </span>
{% endblock %}

{% block title %} {{user.fname}}'s Entries {% endblock %}

{% block content %} 
<div class="container"></div> 

<div class="row">
    <div id="user-prompts" class="col"></div>

  
</form>
<script src='/static/js/prompts.js'></script>
{% endblock %}

{% block footer %}
<p>Current day: {{session['date']}}</p>
<p>Current week: {{session['week']}}</p>
<p>Active since {{user.sign_up}}</p>
{% endblock %}